dropdown-menu
{
    padding-top:0;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
}
.dropdown-menu>li>a
{
    line-height:30px;
    color:#999;
    outline:0;
    font-size:15px;
    font-weight:400
}
